           
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
 
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }   
  
 














            /*start of my css                         */

/* *{
    box-sizing: border-box;
    max-width: 100%;
    border:1px solid grey;
}*/

h1, h2, h3, p, li{
    color:rgb(155, 155, 192);

}
h1 {
    font-size:x-large;
    color:darkslategray
 }
.wrapper {
width:100%;
margin:auto;

}
h3 {
display: flex;
justify-content: center;
}





header h2 {
    padding-left: 8%;
    color: darkslategray;
}
header {
    height:7vh;
    background-color: rgb(197, 248, 156);
}
body {
    background-color:rgb(245, 245, 239);
    background-repeat: no-repeat;
    width: 100%;
}

.nav {
    display: flex;
    justify-content:space-evenly;
   
}

/* below the header */



#profilePic{
    display: flex;
    justify-content: center;
    margin-top:4%;
    margin-bottom: 4%;
  }
#pictureOfMe{
      border-radius: 50%;
  }






  /* text under main picture */


.infoOnMe h2{
    display: flex;
    justify-content: center;
    align-self: center;
    color: rgb(251, 132, 255);
    font-size:xx-large ;
}
.infoOnMe h3{
    padding-top: 1%;
    padding-bottom: 1%;
}
/*#beExcited{
    font-size:x-large;
    color:bisque;
    padding-bottom: 4%;
}*/




#aboutPictures{
    width:100%;
   padding: 10% 10% 10% 10%;
    flex-direction:row;
    flex-wrap:wrap;
}
.pictures{
    border:1px solid grey;
    display: flex;   
    margin-top: 2%;
    padding:2%;
    width:15%;
    
}
.pictures p{
    color: midnightblue;      
}
#pictures{
    display: flex;
}
.picSectionTwo{
}
li {
    display: flex;
    justify-content: left;
    padding-left: 40%;
    width: 100%;
}