           
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
 
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }   
  

            /*start of my css                         */

 *{
    box-sizing: border-box;
    max-width: 100%;
}
.pageDevider{
    line-height:1%;
    background-color: grey;
    border:2px solid grey;
    border-radius: 75%;
   /* margin-left: 15%;
    margin-right: 15%;*/
    margin:4% 15% 4% 15%;
   
}

.wrapper {
    width:100%;
    margin:auto;
}

h1, h2, h3, p, li{
    color:rgb(155, 155, 192);

}
h1 {
    font-size:x-large;
    color:darkslategray
 }

h3 {
display: flex;
justify-content: center;
}

header h2 {
    padding-left: 8%;
    color: darkslategray;
}
header {
    height:7vh;
    background-color: rgb(197, 248, 156);
}
body {
    background-color:rgb(245, 245, 239);
    background-repeat: no-repeat;
    width: 100%;
}
.bulletColors{
    color: rgb(63, 134, 118);
}

.nav {
    display: flex;
    justify-content:space-around;
   
}
.nav a:hover {
    background-color: yellow;
}
.nav a:visited{
    color:black;
}
.nav a:active{
    color:red;
}






/* below the header */



#profilePic{
    display: flex;
    justify-content: center;
    margin-top:4%;
    margin-bottom: 4%;
  }
#pictureOfMe{
      border-radius: 50%;
  }
#pictureOfMe:hover{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  #pictureOfMe:hover, #pictureOfMe:focus, #pictureOfMe:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  /* text under main picture */

.infoOnMe h2{
    display: flex;
    justify-content: center;
    color: rgb(251, 132, 255);
    font-size:xx-large ;
}
.infoOnMe h3{
    padding-top: 1%;
    padding-bottom: 1%;

}
.listCenter{
    display: flex;
    justify-content:center;
}
.listCenter ul li { 
   text-align: justify;
   tex;
    
}




/*about Section*/

#aboutMeBullets {
    display: flex;
 justify-content: center;
  
}
.adventureText{
    font-size: larger;
    
}
.linkBox{
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    
  
}




/*css for pictures below About*/

.aboutPictures{
   width:100%;
}
#beExcited{
    display:flex;
   justify-content:  center;
    font-size:xx-large;
    color:rgb(161, 161, 238);
    padding-bottom: 4%;
    padding-top: 5%;
}

.pictures {
    width:100%;
    
    
}
.pictures:hover{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
.pictures:hover, .pictures:focus, .pictures:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}
.pictures img, p{
    display: flex; 
    width:100%;
    justify-content:center;
    padding:10% 10% 10% 10%;
    margin:10%;

}
.pictures img p{   
   justify-content: center;
    color: midnightblue;
      
}
#picParent{
    display: flex;
    width:100%;
    padding-left: 15%;
    padding-right: 15%;

}
#picParent2{
    display: flex;
    padding-left: 15%;
    padding-right: 15%;

}









/*css for contact info*/

#contactInfo h2{
    font-size:x-large;
    padding:4% 0% 3% 0%;
    text-align: center;
}

#contactInfo li {
    display: flex;
    text-align: center;
    width: 100%;
    display: list-item;
    list-style-position: inside;
}

  /*css for the footer*/
.footerBackground img{
position:absolute;
background-repeat: no-repeat;
width: 100%;
}
  



